.card-text {
    padding-bottom: 10px;
}
.cvc-text {
    padding-bottom: 10px;
}
.amount-text {
    padding-bottom: 10px;
}
.visa-card {
    color: white
}
.comments{
    height: 75px;
}
.amex-card, .diners-card, .master-card {
    color: white;
}
.card-box { 
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}